<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wx.mapper.DeptMapper">

    <resultMap id="BaseResultMap" type="com.wx.pojo.Dept">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="deptName" column="dept_name" jdbcType="VARCHAR"/>
            <result property="deptNo" column="dept_no" jdbcType="VARCHAR"/>
            <result property="editTime" column="edit_time" jdbcType="TIMESTAMP"/>
            <result property="editId" column="edit_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,dept_name,dept_no,
        edit_time,edit_id
    </sql>
</mapper>
